* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(175, 210, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    box-shadow:  0 4px 8px black;
    background-color: azure;
    margin-top: 10px;    
    width: 63%;
    gap: 10px;
    padding: 10px;
}
.container {
    width: 170px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all .3s ease-in-out;
    filter: blur(1px);   
}
p {
    background-color: black;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    width: 100%;                        
    position: absolute;
    bottom: 0;                          
    left: 0;
    transform: translateY(100%);        
    transition: transform 0.5s ease-in-out;
}
.container:hover img {
    transform: scale(1.15);
    filter: blur(0px);  
}
.container:hover p {
    transform: translateY(-10%);
}
